.project-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:var(--surface);

    padding:25px;

    border-radius:12px;

    margin-bottom:30px;

    box-shadow:var(--shadow);
}

.project-header h2{
    color:var(--text-h);
}

.project-info{
    display:flex;
    gap:40px;
}

.project-info div{
    display:flex;
    flex-direction:column;
}

.project-info span{
    color:var(--text-muted);
    font-size:13px;
}

.project-info strong{
    margin-top:4px;
    color:var(--text-h);
}